:root {
    --primary-color: #ABDAE1;
    --primary-color-dark: #A3B9C9;
    --secondary-color: #A3B2C3;
    --secondary-color-dark: #3b77ca;
    --gray-color: #A2ABBD;
    --gray-color-dark: #A09CB0;
}